body{
	background-image: url("C:\Users\OGA\Projects\projects\pop\media\oga.jpg");
	background: linear-gradient(top, #E6E6E6 20%, #FFF5B9 40%);
	background: -webkit-linear-gradient(top, #E6E6E6 20%, #FFF5B9 80%);
}
form{
	padding:1px;
	margin: 1px;
}
p{
	text-align:justify;
}
/**making the nav bar drop down*
i have been looking for this for two weeks**/
nav ul ul{
	display: none;
}
nav ul li:hover > ul {
	display:block;
}

/*making the nav bar colorful*/
nav ul{
	background: #F46B37;
	background: linear-gradient(top, #F18252 0%,#F5D698 60%);
	background: -moz-linear-gradient(top, #F18252 20%,#F5D698 100%);
	background: -webkit-linear-gradient(top, #F18252 0%,#F5D698 100%);
	box-shadow: 0px 0px 12px #93181C;
	padding:0 20px;
	list-style: none;
	position: relative;
	display: inline-table;
	}

nav ul:after{
	content: "":both; display: block;
}
/**the float puts it in vertical postion*/
nav ul li{
	float:left;
	padding:1px;
}
/*adds color to the hover function*/
nav ul li:hover{
	background: #69070C;
	background: -0-linear-gradient(black 25%, yellow 15%, green 15%);
	background: -moz-linear-gradient(black 25%, yellow 15%, green 15%);
	background: -webkit-linear-gradient(black 25%, yellow 15%, green 15%);
}

/*change font color of the hover*/
nav ul li:hover a{
	color:white;
}


/**this does the boxing part of the first list element*/
nav ul li a{
	display: block;
	padding: 20px; 20px;
	text-decoration: none;
	color: green;
}

/**making dropdown list two vertical**/
nav ul ul{
	background-color: yellow;
	position: absolute;
	padding: 0;
	top:100%;
}

/**float makes all words in order
border top draws the lines around the various list
*/
nav ul ul li{
	float: none;
	border-top: 1px solid blue;
	position: relative;
}

/*insert further list in HTML*/
nav ul ul li a{
	padding:15px 40px;
	color: yellow;
}
