body{
	font:62.5%;
}
div{
	display: block;
	margin: 0;
	padding:0;
	background-color: blue;
}

a{
	font:0.8em;
	color: white;
	text-decoration: none;
}

p{
	font:1.0em;
	text-transform: capitalize;
}
div ul{
	list-style:none;
	padding:1;
	position: absolute;
	position:absolute;
    left:-9999px;
}
